<template>
	<div>
		<v-text-field 
			@click:append="addListener"
			@keyup.enter.native="addListener"
			append-icon="mdi-plus-circle-outline" 
			label="Listener Name" 
			v-model="method"/>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { SignalrClientConnection } from '@/services/signalr-service'

@Component
export default class AddListener extends Vue {
	@Prop() private connection!: SignalrClientConnection
	method: string = ''

	async addListener() {
		await this.connection.addMessageListener(this.method)
		this.method = ''
	}
}
</script>
