<template>
  <v-app v-resize="handleResize">
    <v-app-bar color="light-blue accent-4" app>
			<v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
			<v-spacer></v-spacer>
      <v-toolbar-title class="headline text-uppercase">
        <span>Signaller</span>
      </v-toolbar-title>
			<v-spacer></v-spacer>
			<span class="font-weight-light">a SignalR test utility</span>
			<v-dialog
				v-model="dialog"
				scrollable 
				max-width="75%"
			>
				<template v-slot:activator="{ on }">
					<v-icon v-on="on" class="header-info">mdi-information-outline</v-icon>
				</template>

				<v-card>
					<v-card-title
						class="headline grey lighten-2"
						primary-title
					>About Signaller</v-card-title>

					<v-card-text>
						<p>Created by Bronson Brown-deVost</p>
						<p>Signaller is a utility for testing SignalR API providers.  It wraps the <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-2.2">javascript SignalR client</a> provided by Microsoft and provides the ability to connect to any SignalR hub, with or without authorization via the standard auth token.  It provides the ability to define listeners on the client side to receive messages pushed from the server and can call hub methods along with method parameters.  The details of a session may be saved as a simple JSON file to be loaded again in the future.</p>
						<p>For usage instructions, see the <a href="https://gitlab.com/bronsonbdevost/signaller/blob/master/USER_GUIDE.md">Users Guide</a>.</p>
						<p>The project resides at <a href="https://gitlab.com/bronsonbdevost/signaller">https://gitlab.com/bronsonbdevost/signaller</a> and is MIT licensed.</p>
						<p>This project has benefitted from many fine OSS projects, a brief FOSSA report can be accessed <a target="_blank" href="/NOTICE.html">here</a>.  The full report can ba accessed <a target="_blank" href="https://app.fossa.io/projects/custom%2B12474%2Fgit%40gitlab.com%3Abronsonbdevost%2Fsignaller.git/refs/branch/master/a5cd58a8097166780e7db8c721a28bc41aadba08">here</a>.</p>
						<p>Copyright 2019 Scripta Qumranica Electronica</p>
						<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
						<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
						<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
					</v-card-text>

					<v-divider></v-divider>
				</v-card>
			</v-dialog>
    </v-app-bar>
		<v-navigation-drawer
			v-model="drawer"
			:app="true"
			:clipped="true"
			width="35%">
			<SignalrConnection :connection="connection" :initUrl="initUrl" :height="height" :offset="350"/>
		</v-navigation-drawer>

    <v-content>
			<v-container fill-height fluid>
				<v-layout align-space-between justify-space-between row fill-height>
					<v-flex fill-height xs2>
						<v-card dark class="main-panel">
							<AddListener :connection="connection"/>
							<v-divider></v-divider>
							<ListenerList :connection="connection" :height="height" :offset="203"/>
						</v-card>
					</v-flex>
					<v-flex xs10>
						<v-card class="main-panel">
							<SendMessage :connection="connection" :height="height" :offset="260"/>
						</v-card>
						<v-card class="main-panel">
							<ResponseViewer :connection="connection" :height="height" :offset="260"/>
						</v-card>
					</v-flex>
				</v-layout>
			</v-container>
    </v-content>

		<v-footer color="blue accent-4">
			<span class="footer-info">SignalR {{connection.getSignalrConfiguration()[0]}}</span>
			<v-icon class="footer-info"
				:color=" connection.url !== '' && connection.url === connection.connectedUrl ? 'success' : 'error'">
				mdi-access-point
			</v-icon>
			<v-icon class="footer-info" 
				v-if="connection.jwt !== '' && connection.jwt === connection.connectedJwt" color="success">
				mdi-account-key-outline
			</v-icon>
			<v-icon class="footer-info" 
				v-if="connection.jwt !== '' && connection.jwt !== connection.connectedJwt" color="error">
				mdi-account-key-outline
			</v-icon>
			<v-icon class="footer-info" v-if="connection.jwt === ''">
				mdi-account-off-outline
			</v-icon>
			<span class="footer-info">Listeners: {{connection.listenerCount}},</span>
			<span class="footer-info">Sent: {{connection.sentMessageCount}},</span>
			<span class="footer-info">Received: {{connection.receivedMessageCount}},</span>
			<span class="footer-info">Errored: {{connection.errorCount}}</span>
		</v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import SignalrConnection from '@/components/SignalrConnection.vue'
import AddListener from '@/components/AddListener.vue'
import ListenerList from '@/components/ListenerList.vue'
import SendMessage from '@/components/SendMessage.vue'
import ResponseViewer from '@/components/ResponseViewer.vue'
import { SignalrClientConnection, SignalrVersion } from '@/services/signalr-service'

export default Vue.extend({
	name: 'Communicator',
	components: {
		SignalrConnection,
		AddListener,
		ListenerList,
		SendMessage,
		ResponseViewer,
	},
	data: () => ({
		initUrl: 'http://localhost:5000/signalr',
		connection: new SignalrClientConnection('http://localhost:5000/signalr', 25),
		drawer: false,
		sendMesagePaneHeight: 0,
		height: 0,
		dialog: false,
	}),
	methods: {
		handleResize() {
			this.height = window.innerHeight
		}
	}
})
</script>

<style>
	.main-panel { margin: 5px }
	.footer-info { padding-right: 5px }
	.header-info { padding-left: 5px }
</style>
