<template>
	<v-simple-table dense :fixed-header="true" :height="`${(height - offset)}px`">
		<thead>
			<tr>
				<th class="text-left">Listener</th>
				<th class="text-left"></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="listener of connection.listeners" :key="listener.msg">
				<td>{{listener.msg}}</td>
				<td><v-icon @click="remove(listener.msg)">mdi-delete-forever</v-icon></td>
			</tr>
		</tbody>
	</v-simple-table>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { SignalrClientConnection } from '@/services/signalr-service'

@Component
export default class ListenerList extends Vue {
	@Prop() private connection!: SignalrClientConnection
	@Prop() private height!: number
	@Prop() private offset!: number

	method: string = ''

	async remove(msg: string) {
		await this.connection.removeMessageListener(msg)
	}
}
</script>
