<template>
	<div ref="responsePane" class="response-viewer">
		<v-label>Responses</v-label>
		<v-spacer></v-spacer>
		<v-simple-table dense :fixed-header="true" :height="`${(height - offset) / 2}px`">
			<thead>
				<tr>
					<th class="text-left">Time</th>
					<th class="text-left">Method</th>
					<th class="text-left">Message</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in connection.responses.slice().reverse()" 
					:key="item.id" 
					@mousedown="selectedResponse = item.id">
					<td>{{ item.time.getHours() }}:{{ item.time.getMinutes() }}:{{ item.time.getSeconds() }}.{{ item.time.getMilliseconds() }}</td>
					<td>{{ item.msg }}</td>
					<td>
						<span>{{ JSON.stringify(item.response)
							.substring(0, 80)
							.replace(matchControlChars, ' ')
							.replace(matchEscapedQuotes, '"') }}</span>
						<v-icon @click.stop="dialog = true" color="info">mdi-information-outline</v-icon>
						<v-dialog
							v-if="item.id === selectedResponse"
							v-model="dialog"
							scrollable 
							max-width="75%"
						>
							<v-card>
								<v-card-title
									class="headline grey lighten-2"
									primary-title
								>
									Full Response{{item.response.length > maxPrettyPrintJsonSize ? ' (response too large for pretty formatting)' : ''}}
								</v-card-title>

								<v-card-text  style="height: 75%;">
									<prism language="json" v-if="item.response.length < maxPrettyPrintJsonSize">{{ item.response }}</prism>
									<pre v-else>{{ item.response }}</pre>
								</v-card-text>

								<v-divider></v-divider>

								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn
										color="primary"
										text
										@click="dialog = false"
									>
										Close
									</v-btn>
								</v-card-actions>
							</v-card>
						</v-dialog>
					</td>
				</tr>
			</tbody>
		</v-simple-table>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator'
import { SignalrClientConnection } from '@/services/signalr-service'
import Prism from 'vue-prism-component'

@Component({
	components: {
		Prism,
	}
})
export default class ResponseViewer extends Vue {
	@Prop() private connection!: SignalrClientConnection
	@Prop() private height!: number
	@Prop() private offset!: number
	maxPrettyPrintJsonSize: number = 10000
	dialog: boolean = false
	matchControlChars: RegExp = /\\[n|t]/g
	matchEscapedQuotes: RegExp = /\\"/g
	selectedResponse: string = ''
}
</script>
