<template>
  <div 
		ref="sendMessagePane" 
		class="send-message-pane"
		@keydown.alt.83="send"
		@keydown.alt.78="newDialog = true"
		@keydown.alt.68="deleteMessage"
		@keydown.alt.67="clear">
		<v-container grid-list-xl>
			<v-layout align-center row justify-space-between fill-height>
				<v-flex pa4>
					<v-select
						label="Method Name" 
						v-model="newComposedMessage"
						:item-text="obj => `${connection.sentMessages.indexOf(obj)}: ${obj.msg}`"
						:items="[...connection.sentMessages, ...localMessages]"
						@change="selectExistingMessage"
						:return-object="true">
						<template slot="item" slot-scope="data">
							<span>
								{{ data.item.msg }}
								{{data.item.params.length > 0 ? '(' : ''}}
								{{data.item.params.map(x => `${x.paramName}: ${x.paramType}`).join(', ')}}
								{{data.item.params.length > 0 ? ')' : ''}}
							</span>
						</template>
					</v-select>
				</v-flex>
				<v-flex shrink pa8>
					<v-btn x-small class="send-msg-btn" color="success" @click="send">Send</v-btn>
					<v-dialog
						v-model="newDialog"
						width="50%"
					>
						<template v-slot:activator="{ on }">
							<v-btn x-small v-on="on" class="send-msg-btn" color="info">New</v-btn>
						</template>

						<v-card>
							<v-card-title
								class="headline grey lighten-2"
								primary-title
							>
								New Message Method
							</v-card-title>

							<v-card-text>
								<v-text-field 
									@keyup.enter.native="newMessage" 
									v-model="method" 
									label="Method Name"/>
							</v-card-text>

							<v-divider></v-divider>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn
									color="primary"
									text
									@click="newMessage"
								>
									Add
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<v-btn x-small class="send-msg-btn" color="error" @click="deleteMessage">Delete</v-btn>
					<v-btn x-small class="send-msg-btn" color="error" @click="clear">Clear</v-btn>
				</v-flex>
			</v-layout>
		</v-container>

		<v-simple-table dense :fixed-header="true" :height="`${(height - offset) / 2}px`">
			<thead>
				<tr>
					<th class="text-left param-handle"><v-icon>mdi-sort</v-icon></th>
					<th class="text-left param-type">Parameter Type</th>
					<th class="text-left param-name">Parameter Name</th>
					<th class="text-left param-value">Parameter Value</th>
					<th class="text-left param-button"><v-icon @click="addParam">mdi-plus-box</v-icon></th>
				</tr>
			</thead>
				<draggable tag="tbody" v-model="parameters" handle=".param-handle" @start="drag=true" 
				@end="drag=false" group="paramValue">
					<tr v-for="(param, idx) in parameters" :key="`param-${idx}`">
						<td class="param-handle">
							<v-icon>mdi-menu</v-icon>
						</td>
						<td class="param-type">
							<v-select
							:items="paramTypes"
							:value="param.paramType"
							@input="changeParamType($event, parameters.indexOf(param))"
							label="Data Type"
							></v-select>
						</td>
						<td class="param-name"><v-text-field label="Parameter Name" v-model="param.paramName"/></td>

						<td v-if="param.paramType === 'json'" class="param-value">
							<v-dialog
								v-model="jsonDialog"
								width="50%"
							>
								<template v-slot:activator="{ on }">
									<v-btn x-small v-on="on" class="send-msg-btn" color="info">Edit Json</v-btn>
								</template>

								<v-card>
									<v-card-title
										class="headline grey lighten-2"
										primary-title
									>
										JSON Editor
									</v-card-title>

									<v-card-text>
										<MonacoEditor class="editor" v-model="param.paramValue" language="json" />
									</v-card-text>

									<v-divider></v-divider>

									<v-card-actions>
										<v-spacer></v-spacer>
										<v-btn
											color="primary"
											text
											@click="jsonDialog = false"
										>
											exit
										</v-btn>
									</v-card-actions>
								</v-card>
							</v-dialog>
						</td>
						<td else class="param-value">
							<v-text-field v-if="param.paramType === 'string'" 
								label="Parameter String Value" v-model="param.paramValue"/>

							<v-text-field v-if="param.paramType === 'number'" 
								label="Parameter Number Value" v-model.number="param.paramValue"/>

							<v-select v-if="param.paramType === 'bool'" 
								:items="[true, false]" v-model="param.paramValue" label="Parameter Bool Value"></v-select>

							<span v-if="param.paramType === 'null'">null</span>
						</td>
						<td class="param-button"><v-icon @click="removeParam(param.paramName)">mdi-delete-forever</v-icon></td>
					</tr>
				</draggable>
		</v-simple-table>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { SignalrClientConnection, Parameter, SentMessage } from '@/services/signalr-service'
import MonacoEditor from 'vue-monaco'
import draggable from 'vuedraggable'
import { isEqual } from 'lodash'

@Component({
	components: {
		MonacoEditor,
		draggable,
	}
})
export default class SendMessage extends Vue {
	@Prop() private connection!: SignalrClientConnection
	@Prop() private height!: number
	@Prop() private offset!: number

	newDialog: boolean = false
	jsonDialog: boolean = false
	method: string = ''
	localMessages: SentMessage[] = []
	paramTypes: string[] = ['string', 'number', 'bool', 'json', 'null']
	parameters: Parameter[] = []
	newComposedMessage: SentMessage = new SentMessage('', [])
	drag: boolean = false

	changeParamType(newType: string, idx: number) {
		this.parameters[idx].paramValue = this.getDefaultTypeValue(newType, this.parameters[idx].paramValue)
		this.parameters[idx].paramType = newType
	}

	getDefaultTypeValue(type: string, value: string | number | boolean | null) 
		: string | number | boolean | null {
		switch (type) {
			case 'string':
				return String(value)
				break
			case 'number':
				return parseInt(String(value)) || 1
				break
			case 'bool':
				return typeof(value) === 'boolean' ? value : true
				break
			case 'json':
				try {
					let json = typeof(value) === 'string' && typeof(JSON.parse(value)) === 'object' ? 
						value : 
						`{${String(value)}}`
					return json || '{}'
				} catch {
					return '{}'
				}
				break
		}
		return null
	}

	addParam() {
		const newName = 'new parameter'
		if (this.parameters.filter(x => x.paramName === newName).length < 1)
			this.parameters.push(new Parameter(newName, 'null', null))
	}

	removeParam(name: string) {
		this.parameters = this.parameters.filter(x => x.paramName !== name)
	}

	selectExistingMessage(message: SentMessage) {
		this.method = message.msg
		// this.parameters = message.params
		// Pretty format the JSON if possible
		try {
			this.parameters = message.params.map(
				x => new Parameter(x.paramName, x.paramType, x.paramType === 'json' ? 
					JSON.stringify(JSON.parse(x.paramValue), null, 2) : 
					x.paramValue))
		} catch {
			this.parameters = message.params.map(
				x => new Parameter(x.paramName, x.paramType, x.paramValue))
		}
	}

	newMessage() {
		this.newDialog = false
		this.newComposedMessage = new SentMessage(this.method, [])
		this.localMessages.push(this.newComposedMessage)
		this.parameters = []
	}

	async send() {
		this.localMessages = []
		try {
			if (await this.connection.sendMessage(
				this.method,
				...this.parameters.map(x => new Parameter(
					x.paramName,
					x.paramType,
					x.paramType === 'json' ? JSON.parse(x.paramValue) : x.paramValue)
				)
			)) this.newComposedMessage = this.connection.sentMessages.filter(x => x.msg === this.method && isEqual(x.params, this.parameters))[0]
		}
		catch(err) {
			console.error(err)
		}
	}

	deleteMessage() {
		this.connection.deleteSentMessage(this.newComposedMessage)
	}

	clear() {
		this.method = ''
		this.parameters = []
	}
}

</script>

<style scoped>
	.send-msg-btn { margin-left: 5px }
	.editor { width: 100%; height: 50vh; }
	.param-handle { width: 24px; }
	.param-type { width: calc(20% - 48px); }
	.param-name { width: calc(30% - 48px); }
	.param-value { width: calc(50% - 48px); }
	.param-button { width: 24px; }
</style>