<template>
  <div>

		<v-container grid-list-xl>
			<v-layout align-center row justify-space-between fill-height>
				<v-flex xs8>
    			<v-text-field label="SignalR URL" v-model="connection.url"/>
				</v-flex>
				<v-flex xs4>
    			<v-icon 
						:color=" connection.url !== '' && connection.url === connection.connectedUrl ? 'success' : 'error'">
						mdi-access-point
					</v-icon>
				</v-flex>
			</v-layout>
		</v-container>
		
		<v-container grid-list-xl>
			<v-layout align-center row justify-space-between fill-height>
				<v-flex xs8>
    			<v-text-field label="Authorization JWT" v-model="connection.jwt"/>
				</v-flex>
				<v-flex xs4>
    			<v-icon v-if="connection.jwt !== '' && connection.jwt === connection.connectedJwt" color="success">mdi-account-key-outline</v-icon>
    			<v-icon v-if="connection.jwt !== '' && connection.jwt !== connection.connectedJwt" color="error">mdi-account-key-outline</v-icon>
    			<v-icon v-if="connection.jwt === ''" color="info">mdi-account-off-outline</v-icon>
				</v-flex>
			</v-layout>
		</v-container>
    

		<v-container grid-list-xl>
			<v-layout align-center row justify-space-between fill-height>
				<v-flex xs4>
    			<v-btn x-small color="success" @click="connect">Connect</v-btn>
				</v-flex>
				<v-flex xs4>
    			<v-btn x-small color="error" @click="disconnect">Disconnect</v-btn>
				</v-flex>
				<v-flex xs4>
					<v-dialog
						v-model="settingsDialog"
						width="50%"
					>
						<template v-slot:activator="{ on }">
							<v-icon v-on="on">mdi-settings</v-icon>
						</template>
						<signalr-settings :connection="connection" @close-dialog="settingsDialog = $event"/>
					</v-dialog>
				</v-flex>
			</v-layout>
		</v-container>


		<v-container grid-list-xl>
			<v-layout align-center row justify-space-between fill-height>
				<v-flex xs6>
    			<v-btn x-small @click="loadSession">Load Session</v-btn>
				</v-flex>
				<v-flex xs6>
    			<v-btn x-small @click="saveSession">Save Session</v-btn>
				</v-flex>
			</v-layout>
		</v-container>

		<v-divider></v-divider>

		<div :style="{ 'max-height': `${height - offset}px`, overflow: 'auto' }">
			<v-label>Server Connection Data</v-label>
			<v-alert type="error" v-if="connection.err">
				{{connection.err}}
			</v-alert>

			<v-alert type="info" v-for="(message, idx) of connection.loggedMessages.slice().reverse()" :key="idx + message">
				{{message}}
			</v-alert>
		</div>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import SignalrSettings from '@/components/SignalrSettings.vue'
import { SignalrClientConnection, FileStoreObj, SentMessage } from '@/services/signalr-service'
import { InputType } from 'zlib';

@Component({
    components: {
        SignalrSettings
    }
})
export default class SignalrConnection extends Vue {
	@Prop() private connection!: SignalrClientConnection
	@Prop() private initUrl!: string
	@Prop() private height!: number
	@Prop() private offset!: number

	settingsDialog: boolean = false

	async connect() {
		await this.connection.startConnection()
	}

	async disconnect() {
		await this.connection.stopConnection()
	}

	saveSession() {
		const filename = 'signaller-saved-session.json'
		var element = document.createElement('a')
		element.setAttribute('href', 'data:application/json;charset=utf-8,' + 
		encodeURIComponent(JSON.stringify(this.connection.getFileStoreObject())))
		element.setAttribute('download', filename)

		element.style.display = 'none'
		document.body.appendChild(element)

		element.click()

		document.body.removeChild(element)
	}

	loadSession() {
		let input: HTMLInputElement = document.createElement('input')
		input.type = 'file'
		input.accept = 'application/json,.json'
		input.onchange = (e: any) => {
			let file = e.target.files[0]
			let reader = new FileReader()
			reader.onload = async (readerEvent: any) => {
				let savedSession = JSON.parse(readerEvent.target.result) as FileStoreObj
				for (let sentMessage of savedSession.sentMessages) {
					for (let param of sentMessage.params) 
						if (param.paramType === 'json') 
							param.paramValue = JSON.stringify(param.paramValue)
				}
				this.connection.loadFileStoreObject(savedSession)
			}
			reader.readAsText(file)
		}
		input.click()
	}
}
</script>
