<template>
  <v-card>
		<v-card-title
			class="headline grey lighten-2"
			primary-title
		>
			SignalR {{signalrVersion}} Settings
		</v-card-title>

		<v-card-text>
			<v-select
					v-model="signalrVersion"
					:items="Object.keys(possibleVersions)"
					label="SignalR Version"
				></v-select>

			<v-container v-if="signalrVersion === possibleVersions.v2">
				<v-row>
					<v-col
						cols="12"
						md="4"
					>
						<v-select
							v-model="signalr2Defaults.transport"
							:items="arrayFromEnum(possibleTransports2)"
							item-value="val"
							item-text="key"
							label="HTTP Transport"
						></v-select>
					</v-col>
					<v-col
						cols="12"
						md="4"
					>
						<v-select
							v-model="signalr2Defaults.logLevel"
							:items="arrayFromEnum(possibleLogLevels2)"
							item-value="val"
							item-text="key"
							label="Logging Level"
						></v-select>
					</v-col>
				</v-row>
				<v-row>
					<v-col
						cols="12"
						md="4"
					>
						<v-switch
							v-model="signalr2Defaults.logMessageContent"
							label="Log Message Content"
							required
						></v-switch>
					</v-col>
					<v-col
						cols="12"
						md="4"
					>
						<v-switch
							v-model="signalr2Defaults.skipNegotiation"
							label="Skip Negotiation"
							:disabled="signalr2Defaults.transport !== possibleTransports2.WebSockets"
							required
						></v-switch>
					</v-col>
				</v-row>
			</v-container>

			<v-container v-if="signalrVersion === possibleVersions.v3">
				<v-row>
					<v-col
						cols="12"
						md="4"
					>
						<v-select
							v-model="signalr3Defaults.transport"
							:items="arrayFromEnum(possibleTransports3)"
							item-value="val"
							item-text="key"
							label="HTTP Transport"
						></v-select>
					</v-col>
					<v-col
						cols="12"
						md="4"
					>
						<v-select
							v-model="signalr3Defaults.logLevel"
							:items="arrayFromEnum(possibleLogLevels3)"
							item-value="val"
							item-text="key"
							label="Logging Level"
						></v-select>
					</v-col>
				</v-row>
				<v-row>
					<v-col
						cols="12"
						md="4"
					>
						<v-switch
							v-model="signalr3Defaults.logMessageContent"
							label="Log Message Content"
							required
						></v-switch>
					</v-col>
					<v-col
						cols="12"
						md="4"
					>
						<v-switch
							v-model="signalr3Defaults.skipNegotiation"
							label="Skip Negotiation"
							:disabled="signalr3Defaults.transport !== possibleTransports3.WebSockets"
							required
						></v-switch>
					</v-col>
				</v-row>
			</v-container>
		</v-card-text>

		<v-divider></v-divider>

		<v-card-actions>
			<v-spacer></v-spacer><v-btn
				color="primary"
				text
				@click="closeDialog"
			>
				cancel
			</v-btn>
			<v-btn
				color="primary"
				text
				@click="save"
			>
				Save
			</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script lang="ts">
import { Component, Prop, Emit, Vue } from 'vue-property-decorator'
import { SignalrClientConnection, SignalrVersion } from '@/services/signalr-service'
import {
	LogLevel as LogLevel2,
	HttpTransportType as HttpTransportType2
} from '@aspnet/signalr'
import {
	LogLevel as LogLevel3,
	HttpTransportType as HttpTransportType3
} from '@microsoft/signalr'

@Component
export default class SignalrConnection extends Vue {
	@Prop() private connection!: SignalrClientConnection

	signalrVersion: SignalrVersion = this.connection.getSignalrConfiguration().signalrVersion

	// Convenience vars for value enums
	possibleVersions = SignalrVersion
	possibleLogLevels2 = LogLevel2
	possibleLogLevels3 = LogLevel3
	possibleTransports2 = HttpTransportType2
	possibleTransports3 = HttpTransportType3

	// Set the settings objects to the default values
	signalr2Defaults: SignalR2Settings = new SignalR2Settings()
	signalr3Defaults: SignalR3Settings = new SignalR3Settings()

	mounted () {
		// Get the current settings
		let currentSettings = this.connection.getSignalrConfiguration()

		// Select the current version of SignalR
		this.signalrVersion = currentSettings.signalrVersion

		// Read the current settings into the settings objects
		switch (this.signalrVersion) {
			case SignalrVersion.v2: {
				this.signalr2Defaults.logLevel = currentSettings.logLevel
				this.signalr2Defaults.logMessageContent = currentSettings.connectionSettings.logMessageContent!
				this.signalr2Defaults.skipNegotiation = currentSettings.connectionSettings.skipNegotiation!
				this.signalr2Defaults.transport = currentSettings.connectionSettings.transport! as HttpTransportType2
				break
			}
			case SignalrVersion.v3: {
				this.signalr3Defaults.logLevel = currentSettings.logLevel
				this.signalr3Defaults.logMessageContent = currentSettings.connectionSettings.logMessageContent!
				this.signalr3Defaults.skipNegotiation = currentSettings.connectionSettings.skipNegotiation!
				this.signalr3Defaults.transport = currentSettings.connectionSettings.transport! as HttpTransportType2
				break
			}
		}
  }

	/**
	 * Reads an Enum object into an array of {key, val} objects
	 *
	 * @param {en} T The enum to be parsed
	 * @memberof SignalrConnection
	 */
	arrayFromEnum<T extends { [name: string]: any }>(en: T): Array<{key: string, val: number}> {
		return Object.keys(en)
			.filter(key => !isNaN(Number(en[key])))
			.map(key => {return {key: key, val: en[key]}})
	}

	@Emit()
	closeDialog(): boolean {
		return false
	}

	async save(): Promise<void> {
		// Save the altered settings
		switch (this.signalrVersion) {
			case SignalrVersion.v2: {
				await this.connection.setSignalrConfiguration(this.signalrVersion, this.signalr2Defaults.logMessageContent, 
					this.signalr2Defaults.skipNegotiation, this.signalr2Defaults.transport, this.signalr2Defaults.logLevel)
				break
			}
			case SignalrVersion.v3: {
				await this.connection.setSignalrConfiguration(this.signalrVersion, this.signalr3Defaults.logMessageContent, 
					this.signalr3Defaults.skipNegotiation, this.signalr3Defaults.transport, this.signalr3Defaults.logLevel)
				break
			}
		}
		this.closeDialog()
	}
}

class SignalR2Settings {
	public logLevel: LogLevel2 = LogLevel2.Debug
	public logMessageContent: boolean = true
	public skipNegotiation: boolean = false
	public transport: HttpTransportType2 = HttpTransportType2.None
}

class SignalR3Settings {
	public logLevel: LogLevel3 = LogLevel3.Debug
	public logMessageContent: boolean = true
	public skipNegotiation: boolean = false
	public transport: HttpTransportType3 = HttpTransportType3.None
} 
</script>
