<template>
  <communicator/>
</template>

<script lang="ts">
import Vue from 'vue'
import Communicator from '@/components/Communicator.vue'

export default Vue.extend({
	name: 'App',
	components: {
		Communicator,
	},
})
</script>

<style>
	html { overflow-y: hidden !important; }
</style>
